*.pyc
.pydevproject
.swp
.DS_Store
.project
.idea/
.vscode
*~
*#
.idea/*
cert/*
infra/redis/data/*
infra/mongodb/data/*
infra/grafana/data/*
infra/rabbitmq/data/*
conf/settings_dev.py
config/dev-config.yml
config/pro-config.yml
config/test-config.yml
tasks/runtime
deployed/docker-compose-test.yml
/deployed/mongo/
/deployed/mysql/
/deployed/redis/
*.swp
_amds
.python-version
latest.zip
.qiniu_pythonsdk_hostscache.json
