*.pyc
.pydevproject
.swp
.DS_Store
.project
.idea/
.vscode
*~
*#
.idea/*
cert/*
conf/settings_dev.py
config/development-config.yml
deployed/docker-compose-test.yml
/deployed/mongo/
/deployed/mysql/
/deployed/redis/
*.swp
_amds
.python-version
latest.zip
.qiniu_pythonsdk_hostscache.json
