Flask==2.3.2
Flask-SQLAlchemy==3.0.5
PyMySQL==1.0.2
PyYAML==6.0
pydantic==1.10.9
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.28.1
python-dotenv==1.0.0
flask_migrate==4.1.0
marshmallow==2.21.0
i18n==0.2
jwt==1.4.0
flask_cors==6.0.1
Werkzeug==2.3.3
flask_login==0.6.3
logzero==1.7.0
flask_restful==0.3.10
celery==5.5.3